{% extends 'mainpage/mainpage_template.html' %}
{% load static %}

{% block content %}
    {% if tasks %}
        {% for task in tasks %}
            <div class="task card" style="width: 25rem; margin: 0.5rem;">
                <div class="card-body">
                    <div class="date">
                        {{ task.published_date }}
                    </div>
                    <div class="card-title">
                        <h1><a href="{% url 'task_detail' pk=task.pk %}">{{ task.title }}</a></h1>
                    </div>
                    <div class="card-text">
                        <p class="text">{{ task.text|linebreaksbr }}</p>
                        <p class="author">{{ task.author|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav aria-label="..." style="margin: 0.5rem;">
            <ul class="pagination">
                {% if tasks.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tasks.previous_page_number }}">previous</a>

                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">
                    Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
                    </span>
                </li>
                {% if tasks.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tasks.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ tasks.paginator.num_pages }}">last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div class="alert alert-info" role="alert">
            Здесь пока нет задач для вас.
        </div>
    {% endif %}


{% endblock %}
