{% extends 'mainpage/mainpage_template.html' %}

{% block content %}
    <div class="task">

        {% if task.published_date %}
            <div class="date">
                {{ task.published_date }}
            </div>
        {% endif %}
        <h1>{{ task.title }}</h1>
        <p>{{ task.text|linebreaksbr }}</p>
        <p>{{ task.author }}</p>
        {% if user.is_authenticated %}
            {% if user == task.author %}
                <a class="btn btn-primary" role="button"
                   href="{% url 'task_edit' pk=task.pk %}">Редактировать задание</a>
            {% else %}
                <a class="btn btn-primary" role="button"
                   href="{% url 'accept_task' pk=task.pk %}">Принять задание</a>
            {% endif %}
        {% endif %}
        {% if accept_error %}
            {{ accept_error }}
        {% endif %}
    </div>
{% endblock %}